<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenView Data Visualization</title>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script src="/static/js/data.js"></script>
</head>
<body style="background: url(../static/img/background.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
<div id="welcome" class="outer">
    <div class="inner">
        <h1> Welcome! </h1>
        <h4> Explore Company Data Below: </h4>
    </div>
</div>
<div id="data" class="outer">
    <div id="data-notes" class="inner-graph"></div>
    <div id="data-display" class="inner"></div>
</div>
<div id="buttons" class="outer">
    <div id="data-navbar" class="btn-group">
        <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-success active" id="category-label">
        <input type="radio" name="options" id="category" autocomplete="off" checked> Search By Category
      </label>
      <label class="btn btn-success" id="company-label">
        <input type="radio" name="options" id="company" autocomplete="off"> Search by Company
      </label>
    </div>
    <select class="form-control" id="categories">
        <option id="tier">Tier</option>
        <option id="details.total_money_in_usd">Revenue Generated</option>
        <option id="status">Status</option>
        <option id="sf_account_owner">Account Owner</option>
    </select>
    <select class="form-control hidden" id="companies">
        {% for company in companies %}
            <option id="{{ company[0] }}">{{ company[1] }}</option>
        {% endfor %}
    </select>
    <input name="daterange" type="text" class="btn btn-default" value="01/01/1980 - 10/16/2016" size="40">
    <button type="button" class="btn btn-primary" id="generate">Generate Data!</button>
    </div>
</div>
</body>
</html>