<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenView Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="javascript"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="javascript"></script>
    <script src="js/data.js" type="javascript"></script>
    <script src="js/home.js" type="javascript"></script>
</head>
<body>
<div id="welcome">
    <h1> Welcome! </h1>
    <h4> Explore Company Data Below: </h4>
</div>
<div id="data">
    <div id="data-display"></div>
    <div id="data-navbar"></div>
</div>
</body>
</html>